body{
    background-color:rgb(245, 173, 185);
}

h1{
    text-transform: uppercase;
    size: 2rem;
}

.poster{
    text-align: center;
    text-size-adjust: 300px;
}

p{
    font-size: large;
}
.emoji{
    color: rgb(255, 0, 0);
    font-size: xx-large;
    margin-left: 25%;
    width: 50%;
}